<div class="card" style="width: 100%;"  >
    <!-- <img class="card-img-top" src="{{data.image}}" alt="Card image cap" > -->
    <div class="card-body">
        <h5 style="cursor: pointer;"   class="card-title" routerLink="/view-event/{{data.id}}">{{data.name}}</h5>
        <p class="card-text">Fecha: {{data.date}}</p>
        <p class="card-text">Ubicacion: {{data.location}}</p>
        <p class="card-text">Precio: ${{data.ticket_price}}</p>
        <a href="#" routerLink="/view-event/{{data.id}}" class="btn btn-primary">Ver más</a>
    </div>
</div>
