.form-control{
    margin-bottom: 20px;
}
.btn{
    display: flex;
    margin-top: 60px;
    width: 100%;
    background-color: var(--rojo);
    padding: 21px 109px;
    justify-content: center;
    align-items: center;    
    border: none;
    /*gap: 10px;*/

}
.row{
    margin-top: 15px;
}
h1{
    margin-bottom: 20px;
}