.form-control{
    margin-bottom: 20px;
}
.btn{
    display: flex;
    margin-top: 50px;
    width: 100%;
    background-color: var(--rojo);
    padding: 21px ;
    justify-content: center;
    align-items: center;    
    border: none;
    font-size: 20px;

}
.row{
    margin-top: 15px;
}
h1{
    margin-bottom: 20px;
}
.form-control-group label{
    margin-bottom: 10px;
}
.form-control-group .form-control{
    border: 1px solid black;
    padding: 10px 8px;
    background-color: var(--grislight);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}