
.app-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

}
.app-menu a{
    text-decoration: none;
    color: var(--gris)
}
.app-menu a:hover{
    color:  var(--primary-color);
}


