<h1>{{ this.title }}</h1>

<div class="filter-buttons">
  <button (click)="filterByTag('')">Todos</button>
  <button (click)="filterByTag('danza')">Danza</button>
  <button (click)="filterByTag('arte')">Arte</button>
  <button (click)="filterByTag('música')">Música</button>
  <button (click)="filterByTag('deporte')">Deporte</button>
  <button (click)="filterByTag('gastronomía')">Gastronomía</button>
  <button (click)="filterByTag('cine')">Cine</button>
  <button (click)="filterByTag('culturales')">Culturales</button>
  <button (click)="filterByTag('destacados')">Destacados</button>
</div>

<div class="events-list">
  <app-card [data]="event" *ngFor="let event of filteredEvents"></app-card>
</div>